<%- include('_header') -%>

<main>
  <% if (!error) { %>
  <section>
    <h2>Hver eru tengsl A og B?</h2>
    <form method="post" action="/save">
      <section class="text">
        <p><%- sentence.sentence %></p>
      </section>
      <p class="entity">
        <strong>A</strong>: <mark class="a"><%= sentence.a_name %></mark>
        <span class="label">(<%= sentence.a_label %>)</span>
      </p>

      <div class="relations">
        <select name="relation">
          <option>--Veldu tengsl--</option>
          <% for (let relation of relations) { %>
          <option value="<%= relation.id %>"><%= relation.display %></option>
          <% } %>
        </select>
        <p>eða skráðu tengsl: <input type="text" name="relation_string" /></p>
      </div>

      <p class="entity">
        <strong>B</strong>: <mark class="b"><%= sentence.b_name %></mark>
        <span class="label">(<%= sentence.b_label %>)</span>
      </p>
      <div class="options">
        <label><input type="checkbox" name="flagged" value="true" /> Eitthvað er skrítið</label>
        <label
          ><input type="checkbox" name="reversed" value="true" /> Öfug tengls, eiga við B → A, ekki
          A → B</label
        >
      </div>
      <input type="hidden" name="from" value="v1" />
      <input type="hidden" name="entityRelationId" value="<%= sentence.entity_relation_id %>" />
      <button>Vista</button>
      <p class="skip"><a href="/v1">Nýja setningu</a></p>
    </form>
  </section>
  <% } else { %>
  <section>
    <p>Villa í forriti 😭</p>
  </section>
  <% } %>
</main>

<%- include('_footer') -%>
